body{


	background-image: url(./icons/trophy.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center center;
	background-attachment: fixed;
	
}


.zoom {
 
position:relative;
top:55%;
margin-left:40%;
  transition: transform .2s;
  text-align:center;
  color:white;
  font-family: Helvetica, sans-serif;
 
    max-width:20%;
  height:auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
#link{
  color: white;
}



